*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #2C3B43;
}
body{
  background: #13EEB4;
}
table{
  width: 400px;
  text-align: center;
  margin: 50px auto;
}

tr{
  max-height: 100px;
}
th,
td{
  border: solid 1px black;
}
.box{
  font-style: italic;
}
img{
  width: 60px;
  height: 60px;
}